.logoweb{
    color:#2196F3;
}
header a{
    color: black;
}
.banner{
    background-color: #2F303A;
    color: #ffffff;
}
.button{
   background-color:#2196F3;
   color: #ffffff;
}
.logoweb{
    color: #2196F3;
}
address a{
    color: #FFFFFF60;
}
.banner a{
    background-color: #2F303A;
}
footer>a{
    color: #FFFFFF;
}